{% extends 'base.html' %}

<h1>ホーム</h1>

{% block content %}
<p>{{profile.display_name}}さん、こんにちは</p>
<p><a href="{% url 'profile' user.username %}">プロフィール</a></p>
<a href="{% url 'create'%}">投稿する</a>
<p><a href="{% url 'logout'%}">ログアウト</a></p>

<div class="container">
    {% for item in object_list %}
    <div class="alert alert-primary" role="alert">
        <p><b>{{item.author.profile.display_name}} </b><a href="{% url 'profile' item.author %}">@{{item.author}}  </a> {{item.created_at}}</p>

        <p>{{ item.text}}</p>
        <button type="button" class="btn btn-danger">いいね！</button>
        <a href="{% url 'detail' item.pk %}">詳細</a>
    </div>
    {% endfor %}
</div>


{% endblock content %}