{% extends 'base.html' %}

{% block content %}

<b>{{user.username}} </b>

<div class="container">
    {% for item in object_list %}
    <div class="alert alert-primary" role="alert">
        <p><b>{{item.author.profile.display_name}} </b>@{{item.author}}</a>   {{item.created_at}}</p>
        </p>

        <p>{{ item.text}}</p>
        <button type="button" class="btn btn-danger">いいね！</button>
        <a href="{% url 'detail' item.pk %}">詳細</a>
    </div>
    {% endfor %}
</div>

<a href="{% url 'home'%}">ホームに戻る</a>
{% endblock content %}